<div class="container" style="min-height: 60vh;">
    <div class="row">
        <h3 class="p-2 col-md-12 mt-4" style="text-align: center">
            INTRODUCTION
        </h3>
    </div>
    <p style="text-align: justify; text-indent: 40px" class="mt-2 mb-5">
        Ngày nay công nghệ ngày càng phát triển mạnh mẽ, điện thoại và máy tính
        cùng với sự phát triển vượt bậc của internet đã thay đổi cách mua hàng
        của mọi người. Dẫn đến các nhà sách cạnh tranh nhau hơn nữa trong việc bán hàng.
        Đứng trước nguy cơ cạnh tranh gây gắt như vậy, doanh nghiệp
        bán sách truyền thống nên tìm đến các dịch vụ thiết kế web, nhằm đẩy
        mạnh chiến dịch marketing online và tạo nên sự khác biệt so với các đối
        thủ. Thực tế, dù bạn bán bất cứ một mặt hàng online nào hoặc giới thiệu
        sản phẩm - dịch vụ bất động sản, du lịch, nhà hàng …, nếu không có
        website sản phẩm sẽ không tiếp cận khách hàng, và doanh nghiệp
        của sẽ không phát triển được.
        <br />
        <br />
        Website bán sách online có vai trò như một cửa hàng bán sách trực tuyến. Mọi
        sản phẩm đều có thể trưng bày và làm nổi bật website nhằm thu hút khách
        hàng, bạn có thể quản lý các đơn hàng một cách dễ dàng.Thông thường,
        khách hàng khi muốn mua hàng online sẽ tìm kiếm trên mạng và so sánh mẫu
        mã, chất lượng, giá cả giữa các đơn vị cung cấp. Vì thế, việc thiết kế
        web bán hàng chuyên nghiệp là điều rất quan trọng, nó chiếm 80% quyết
        định mua hàng của khách. Một trang web được thiết kế chuyên nghiệp sẽ
        thu hút và giữ chân khách hàng ở lại trang web lâu hơn. Đối với một cửa
        hàng hay shop, việc quảng bá và giới thiệu đến khách hàng các sản phẩm
        mới đáp ứng được nhu cầu của khác hàng sẽ là cần thiết. Vậy phải quảng
        bá thế nào đó là xây dựng được một Website cho cửa hàng và quảng
        bá tất cả các sản phẩm của mình bán.
        <br />
        <br />
        Vì vậy, nhóm chúng em đã thực hiện bài tập lớn “WEBSITE GIỚI THIỆU, BÁN
        SÁCH TRỰC TUYẾN” cho một shop bán sách online. Người chủ cửa hàng đưa
        các sản phẩm đó lên website của mình và quản lý bằng website đó. Khách
        hàng có thể đặt mua hàng trên website mà không cần đến cửa hàng. Chủ cửa
        hàng sẽ gửi sản phẩm cho khách hàng khi nhận được tiền. Tuy đã cố gắng
        hết sức tìm hiểu, phân tích thiết kế trang web nhưng chắc rằng không
        tránh khỏi những thiếu sót. Nhóm chúng em rất mong nhận được sự thông
        cảm và góp ý của Thầy Cô. Chúng em xin chân thành cảm ơn!
    </p>
</div>
