<div class="container-fluid my-5">
    <div class="row ">
        <!-- menu -->
        <menu class="col-2 bg-light ">
            <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar"
                    aria-controls="sidebar" aria-expanded="false" aria-label="Toggle sidebar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="w-100 collapse navbar-collapse" id="sidebar">
                    <ul class="navbar-nav w-100 d-flex flex-md-column text-md-start text-dark">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="adminNavbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">Product Management</a>
                            <ul class="dropdown-menu" aria-labelledby="adminNavbarDropdown">
                                <li><a class="dropdown-item" href="/admin/product">Products</a></li>
                                <li><a class="dropdown-item" href="/admin/author">Authors</a></li>
                                <li><a class="dropdown-item" href="/admin/category">Catagories</a></li>
                                <li><a class="dropdown-item" href="/admin/publisher">Publishers</a></li>
                                <li><a class="dropdown-item" href="/admin/supplier">Suppliers</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/admin/order">Order Management</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/admin/account">Account Management</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </menu>


        <!-- content là cái thay đổi -->
        <!-- content -->
        <div class="bodyql col-10 ">

            <div class="row m-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Product Management</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Products</li>
                    </ol>
                </nav>
            </div>

            <!-- search -->
            <div class="row border pt-3 pb-3 ml-1 bg-light">
                <div class="col-md-2 d-none d-md-block">
                    <label class="float-end form-label pt-2" for="txtSearch">search book:</label>
                </div>
                <div class="col-10 col-md-4">
                    <form class="form-inline">
                        <div class="form-group mx-sm-3 ">
                            <input type="text" class="form-control" id="txtSearch" placeholder="search for book title">
                        </div>
                    </form>
                </div>
                <div class="col-2 col-md-1">
                    <button type="submit" class="btn btn-primary searchProduct"><i class="fas fa-search"></i></button>
                </div>
                <div class="col-6 col-md-2 mt-3 mt-md-0">
                    <button type="button" id="btnRefresh" class="btn btn-info">REFRESH</button>
                </div>
                <div class="col-6 col-md-3 mt-3 mt-md-0">
                    <button type="button" id="btnAdd" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#modalProduct">ADD BOOK </button>
                </div>
            </div>

            <!-- table -->
            <div class="border ml-1 overflow-auto">
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th>Book title</th>
                            <th>Catagory</th>
                            <th style="width: 10%;">Image</th>
                            <th>Inventory</th>
                            <th>Quantity</th>
                            <th>Feature</th>
                        </tr>
                    </thead>
                    <tbody id="tableProduct">

                    </tbody>
                </table>
            </div>

        </div>

        <div class="row mt-2">
            <div class="col-12 d-flex justify-content-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>


    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="bookTitle" class="form-label">book Title</label>
                            <input type="text" class="form-control" id="bookTitle">
                        </div>
                        <div class="mb-3">
                            <label for="bookDescription" class="form-label">book Description</label>
                            <input type="text" class="form-control" id="bookDescription">
                        </div>
                    </form>
                    <form class="d-inline-flex">
                        <div class="mb-3 me-3">
                            <label for="bookPrice" class="form-label">book Price</label>
                            <input type="text" class="form-control" id="bookPrice">
                        </div>
                        <div class="mb-3">
                            <label for="bookDiscount" class="form-label">book Discount</label>
                            <input type="text" class="form-control" id="bookDiscount">
                        </div>
                    </form>
                    <form class="d-inline-flex">
                        <div class="mb-3 me-3">
                            <label for="bookWeight" class="form-label">book Weight</label>
                            <input type="text" class="form-control" id="bookWeight">
                        </div>
                        <div class="mb-3 me-3">
                            <label for="bookSize" class="form-label">book Size</label>
                            <select class="form-select form-select-lg mb-3 bookSize" aria-label=".form-select-lg">
                                <option selected>Small</option>
                                <option value="1">Medium</option>
                                <option value="1">Large</option>
                            </select>
                        </div>
                        <div class="mb-3 ">
                            <label for="bookSize" class="form-label">book Status</label>
                            <select class="form-select form-select-lg mb-3 bookStatus" aria-label=".form-select-lg">
                                <option selected>In Stock</option>
                                <option value="1">Available</option>
                            </select>
                        </div>
                    </form>
                    <form class="d-inline-flex">
                        <div class="mb-3 me-3">
                            <label for="bookInventory" class="form-label">book Inventory</label>
                            <input type="text" class="form-control" id="bookInventory">
                        </div>
                        <div class="mb-3">
                            <label for="bookImage" class="form-label">book image</label>
                            <input class="form-control form-control-sm" value="asdasd" id="bookImage" type="file">
                        </div>
                    </form>
                    <form>
                        <div class="mb-3 me-3">
                            <label for="category" class="form-label">category</label>
                            <select class="form-select form-select-lg mb-3 category" aria-label=".form-select-lg">
                                <option selected>category</option>

                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="publisher" class="form-label">publisher</label>
                            <select class="form-select form-select-lg mb-3 publisher" aria-label=".form-select-lg">
                            </select>
                        </div>
                    </form>
                    <form>
                        <div class="mb-3 me-3">
                            <label for="author" class="form-label">author</label>
                            <select class="form-select form-select-lg mb-3 author" aria-label=".form-select-lg">
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="supplier" class="form-label">supplier</label>
                            <select class="form-select form-select-lg mb-3 supplier" aria-label=".form-select-lg">
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="closeModal"
                        data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="submitModal">Add</button>
                </div>
            </div>
        </div>
    </div>
