<div class="loadOrderDetail"></div>
<div class="container" style="min-height: 60vh;">
    <h2 class="mt-5 mb-3">
        <img src="../imgs/static/orders.png" height="50px">
        Order history
    </h2>
    <div class="mb-5">
        <table class="table table-bordered text-center" style="vertical-align: middle;" id="tableContainOrders">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Phone Number</th>
                    <th>Receiver</th>
                    <th>Order Date</th>
                    <th>Payment Status</th>
                    <th>Delivery Status</th>
                    <th >See Details</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="row" id="notifyEmpty">
            
        </div>
    </div>
</div>
