* {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-nav {
  margin-right: 30px;
  margin-left: 30px;
}

.sticky-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}