<div class="container-fluid text-light justify-content-center text-center" style="background-color: #26af61;">
    <div class="row pt-5">
        <h2><b>About us</b></h2>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-md-3">
            <p><b>Email: </b> luongvandat.it@gmail.com</p>
        </div>
        <div class="col-12 col-md-6">
            <p><b>Address: </b> 12 Nguyen Van Bao, Ward 4, Go Vap District, Ho Chi Minh City</p>
        </div>
        <div class="col-12 col-md-3">
            <p><b>Phone Number:</b> 0981 993 215</p>
        </div>
    </div>
    <div class="row mt-2 pb-5">
        <div class="col">
            <p><b>Members: </b>Luong Van Dat, Tran Khanh Linh, Nguyen Minh Quan</p>
        </div>
    </div>
</div>
